RewriteEngine On
#for removing all php file extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^category_list$ api/category_list.php [NC,L]
RewriteRule ^live$ api/live.php [NC,L]
RewriteRule ^news$ api/news.php [NC,L]
RewriteRule ^nrc$ api/nrc.php [NC,L]
RewriteRule ^radio_category_list$ api/radio_category_list.php [NC,L]
RewriteRule ^radio$ api/radio.php [NC,L]
RewriteRule ^schedule_category_list$ api/schedule_category_list.php [NC,L]
RewriteRule ^schedule$ api/schedule.php [NC,L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]

